---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - deps.keps.io
  resources:
  - dependencyrules
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - deps.keps.io
  resources:
  - dependencyrules/finalizers
  verbs:
  - update
- apiGroups:
  - deps.keps.io
  resources:
  - dependencyrules/status
  verbs:
  - get
  - patch
  - update
